/code/TLA/model0.toolbox
/code/TLA/model1.toolbox
/code/TLA/model1_PP.toolbox
/code/TLA/states
/code/TLA/tla2tools.jar
/code/.vscode
/code/__pycache__
/code/legacy.txt
/graph
/img
/regles.pdf
/regles.aux
/regles.fdb_latexmk
/regles.fls
/regles.log
/regles.synctex.gz
/ref.txt
