/code/TLA/model0.toolbox
/code/TLA/model1.toolbox
/code/TLA/model1_PP.toolbox
/code/TLA/model2.toolbox
/code/TLA/states
/code/TLA/tla2tools.jar
/code/.vscode
/code/__pycache__
/code/legacy.txt
/graph
/img
/regles.pdf
/regles.aux
/regles.fdb_latexmk
/regles.fls
/regles.log
/regles.synctex.gz
/composition.pdf
/composition.aux
/composition.fdb_latexmk
/composition.fls
/composition.log
/composition.synctex.gz
/ref.txt

/code/experience/exp0
/code/experience/exp1/OAR*
/code/composition/states
/code/composition/graphe_mouvements.pdf
/code/composition/__pycache__
/code/composition/model/tla2tools.jar
/code/composition/model/out.log
/code/composition/model/states
/code/composition/graph_simple.json
/code/composition/model/model1_1.toolbox
/code/composition/model/save_errors.log
/code/composition/model/errors.log
/code/composition/model/composition.tla

/paper/main.aux
/paper/main.bbl
/paper/main.fls
/paper/main.fdb_latexmk
/paper/main.blg
/paper/main.log
/paper/main.synctex.gz
/paper/main.pdf


